<html>
<head>
	<title>Track My Tasks</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/index.js"></script>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body onload="loadDate()">
	<div class="topnav">
		<div>
			<h2>Today's Tasks</h2>
		</div>

		<a class="editBtn" onclick="editTask()">
			<button id='edit'>Edit</button>
		</a>
		
		<a href="javascript:void(0);" class="icon" onclick="changeIcon()">
			<i class="fa fa-bars"></i>
		</a>

		<div id="myLinks">
			<a href="/views/index.handlebars">Tasks</a>
			<a href="/log">Time Logs</a>
			<a href="/report">Reports</a>
			<a href="/profile">Profile</a>
			<a href="/views/faq.handlebars">Help and Tutorial</a>
		</div>

		

	</div>
	
	<br><br>
	<div class="day">
		<h4><p id="date"></p></h4>
	</div>

	<div class = "vertical-menu" onload="checkNull()">

		{{#each tasks}}
			{{#if name}}
				<a href="/task/{{index}}" id="{{index}}" class="task">{{name}} {{time}}
					<button id="{{index}}button" class="buttonimg" onclick="deleteTask(event, {{index}})">Delete Task</button>
				</a>			
			{{/if}}		
		{{/each}}

		<div class="addTask">
		<a href="/add" class="addBtn">
			<button class="Btn">+ Add a Task</button>
		</a>
		</div>	
	</div>	

</body>
</html>
